#success-box{

    padding-bottom: 8px;
    font-weight: 500;
    color: rgb(12, 193, 12);
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
}

#fail-box{
    
    padding-bottom: 8px;
    font-weight: 500;
    color: rgb(254, 54, 54);
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;

}