.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  width: 100%;
  border: 1px solid #eee;
}
.table-header {
  display: flex;
  width: 100%;
  background: #000;
}
.table-row {
  display: flex;
  width: 100%;
  padding: 12px 0;
}
.table-row:nth-of-type(odd) {
  background: #eee;
}
.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}
.header__item {
  text-transform: uppercase;
}
.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-delete-orders {
  width: 32px;
  height: 32px;
  padding-bottom: 5px;
  background-color: #f44336;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-delete-orders:hover {
  background-color: #d32f2f;
}

.btn-delete-orders svg {
  width: 18px;
  height: 18px;
}
